.income {
  background: rgb(208, 241, 208);
}

.expense {
  background-color: rgb(243, 177, 177);
}

.transactions-container {
  overflow-y: scroll;
}

.single-transaction-container {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.transaction-category {
  padding: 0 1rem;
  width: 60%;
  font-size: 1.35rem;
}
.transaction-amount {
  padding: 0 1rem;
  width: 30%;
  font-size: 1.25rem;
}

input,
select:focus,
select:active {
  outline: none;
  border: none;
}
