:root,
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background: linear-gradient(rgba(56, 54, 54, 0.151), rgba(37, 37, 37, 0.562)),
    url(https://imgur.com/t2RrQwO.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transparent {
  background-color: rgba(195, 206, 206, 0.712);
}
