@import "~antd/dist/antd.css";

:root,
html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
}
body {
  background: linear-gradient(
      rgba(106, 137, 145, 0.288),
      rgba(158, 202, 207, 0.301)
    ),
    linear-gradient(
      to right,
      rgba(161, 113, 147, 0.438),
      rgba(204, 172, 169, 0.377),
      rgba(240, 198, 229, 0.521),
      rgba(195, 238, 195, 0.219)
    ),
    linear-gradient(45deg, rgba(201, 105, 142, 0.486), #ec99c781);
  align-items: center;
}
.wrapper {
  width: 95%;
  height: 95vh;
  display: flex;
  align-items: center;
}
.transparent {
  background-color: rgb(84, 153, 214);
}
input,
select:focus,
select:active {
  outline: none;
  border: none;
}

.income {
  border: 2px solid rgb(8, 218, 8);
  color: rgb(78, 129, 78);
}

.expense {
  border: 2px solid rgb(218, 15, 8);
  color: rgb(243, 7, 7);
}
.card-container {
  overflow-y: scroll;
}

.transaction-container {
  margin: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ant-card-body {
  padding: 0;
}
